**/bin/Debug
**/bin/Release
**/bin/x86/Debug
**/bin/x86/Release
**/Build/Debug
**/Build/Release
**/obj/Debug
**/obj/Release
**/obj/x86/Debug
**/obj/x86/Release
**/obj/Any CPU/Debug
**/obj/Any CPU/Release
*.suo
*.sln.DotSettings.user
*.csproj.user
*.vcxproj.user
**/_Documentation
**/ReleaseMinSize
**/Release MinSize
*.pdb
*.obj
*.sbr
*.sdf
*.tlog
*.tlb
*.tlh
*.tli
*_i.c
*_p.c