/KeyboardManiac.Core/bin/Debug/KeyboardManiac.Core.dll
/KeyboardManiac.Core/bin/Debug/KeyboardManiac.Core.pdb
/KeyboardManiac.Core/bin/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Core/bin/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Core/bin/Debug/KeyboardManiac.log4net.xml
/KeyboardManiac.Core/bin/Debug/Settings.xml
/KeyboardManiac.Core/bin/Debug/log4net.dll
/KeyboardManiac.Core/bin/Debug/log4net.xml
/KeyboardManiac.Core/bin/Release/KeyboardManiac.Core.dll
/KeyboardManiac.Core/bin/Release/KeyboardManiac.Core.pdb
/KeyboardManiac.Core/bin/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Core/bin/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Core/bin/Release/KeyboardManiac.log4net.xml
/KeyboardManiac.Core/bin/Release/Settings.xml
/KeyboardManiac.Core/bin/Release/log4net.dll
/KeyboardManiac.Core/bin/Release/log4net.xml
/KeyboardManiac.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Core/obj/Debug/KeyboardManiac.Core.csproj.FileListAbsolute.txt
/KeyboardManiac.Core/obj/Debug/KeyboardManiac.Core.dll
/KeyboardManiac.Core/obj/Debug/KeyboardManiac.Core.pdb
/KeyboardManiac.Core/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Core/obj/Release/KeyboardManiac.Core.csproj.FileListAbsolute.txt
/KeyboardManiac.Core/obj/Release/KeyboardManiac.Core.dll
/KeyboardManiac.Core/obj/Release/KeyboardManiac.Core.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Core.dll
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Core.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Gui.exe
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Gui.exe.config
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Gui.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Gui.vshost.exe
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Gui.vshost.exe.config
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.FileSystemSearch.dll
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.FileSystemSearch.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.Powershell.dll
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.Powershell.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.ShellExecute.dll
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.ShellExecute.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.TaskSwitcher.dll
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Plugins.TaskSwitcher.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.log
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.log4net.xml
/KeyboardManiac.Gui/bin/Debug/Settings.xml
/KeyboardManiac.Gui/bin/Debug/log4net.dll
/KeyboardManiac.Gui/bin/Debug/log4net.xml
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Core.dll
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Core.pdb
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Gui.exe
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Gui.exe.config
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Gui.pdb
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.FileSystemSearch.dll
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.FileSystemSearch.pdb
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.Powershell.dll
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.Powershell.pdb
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.ShellExecute.dll
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.ShellExecute.pdb
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.TaskSwitcher.dll
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Plugins.TaskSwitcher.pdb
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.log4net.xml
/KeyboardManiac.Gui/bin/Release/Settings.xml
/KeyboardManiac.Gui/bin/Release/log4net.dll
/KeyboardManiac.Gui/bin/Release/log4net.xml
/KeyboardManiac.Gui/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Gui/obj/x86/Debug/GenerateResource.read.1.tlog
/KeyboardManiac.Gui/obj/x86/Debug/GenerateResource.write.1.tlog
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.AboutForm.resources
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.AdvancedErrorForm.resources
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.MainForm.resources
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.Properties.Resources.resources
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.SimpleErrorForm.resources
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.csproj.FileListAbsolute.txt
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.exe
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.pdb
/KeyboardManiac.Gui/obj/x86/Debug/ResolveAssemblyReference.cache
/KeyboardManiac.Gui/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/KeyboardManiac.Gui/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Gui/obj/x86/Release/GenerateResource.read.1.tlog
/KeyboardManiac.Gui/obj/x86/Release/GenerateResource.write.1.tlog
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.AboutForm.resources
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.AdvancedErrorForm.resources
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.MainForm.resources
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.Properties.Resources.resources
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.SimpleErrorForm.resources
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.csproj.FileListAbsolute.txt
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.exe
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.pdb
/KeyboardManiac.Gui/obj/x86/Release/ResolveAssemblyReference.cache
/KeyboardManiac.Gui/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/KeyboardManiac.Plugins.FileSystemSearch/KeyboardManiac.Plugins.FileSystemSearch.csproj.user
/KeyboardManiac.Plugins.FileSystemSearch/bin/Debug/KeyboardManiac.Plugins.FileSystemSearch.dll
/KeyboardManiac.Plugins.FileSystemSearch/bin/Debug/KeyboardManiac.Plugins.FileSystemSearch.pdb
/KeyboardManiac.Plugins.FileSystemSearch/bin/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.FileSystemSearch/bin/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.FileSystemSearch/bin/Debug/log4net.dll
/KeyboardManiac.Plugins.FileSystemSearch/bin/Debug/log4net.xml
/KeyboardManiac.Plugins.FileSystemSearch/bin/Release/KeyboardManiac.Plugins.FileSystemSearch.dll
/KeyboardManiac.Plugins.FileSystemSearch/bin/Release/KeyboardManiac.Plugins.FileSystemSearch.pdb
/KeyboardManiac.Plugins.FileSystemSearch/bin/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.FileSystemSearch/bin/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.FileSystemSearch/bin/Release/log4net.dll
/KeyboardManiac.Plugins.FileSystemSearch/bin/Release/log4net.xml
/KeyboardManiac.Plugins.FileSystemSearch/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.FileSystemSearch/obj/Debug/KeyboardManiac.Plugins.FileSystemSearch.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.FileSystemSearch/obj/Debug/KeyboardManiac.Plugins.FileSystemSearch.dll
/KeyboardManiac.Plugins.FileSystemSearch/obj/Debug/KeyboardManiac.Plugins.FileSystemSearch.pdb
/KeyboardManiac.Plugins.FileSystemSearch/obj/Debug/ResolveAssemblyReference.cache
/KeyboardManiac.Plugins.FileSystemSearch/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.FileSystemSearch/obj/Release/KeyboardManiac.Plugins.FileSystemSearch.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.FileSystemSearch/obj/Release/KeyboardManiac.Plugins.FileSystemSearch.dll
/KeyboardManiac.Plugins.FileSystemSearch/obj/Release/KeyboardManiac.Plugins.FileSystemSearch.pdb
/KeyboardManiac.Plugins.Powershell/bin/Debug/KeyboardManiac.Plugins.Powershell.dll
/KeyboardManiac.Plugins.Powershell/bin/Debug/KeyboardManiac.Plugins.Powershell.pdb
/KeyboardManiac.Plugins.Powershell/bin/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.Powershell/bin/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.Powershell/bin/Debug/log4net.dll
/KeyboardManiac.Plugins.Powershell/bin/Debug/log4net.xml
/KeyboardManiac.Plugins.Powershell/bin/Release/KeyboardManiac.Plugins.Powershell.dll
/KeyboardManiac.Plugins.Powershell/bin/Release/KeyboardManiac.Plugins.Powershell.pdb
/KeyboardManiac.Plugins.Powershell/bin/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.Powershell/bin/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.Powershell/bin/Release/log4net.dll
/KeyboardManiac.Plugins.Powershell/bin/Release/log4net.xml
/KeyboardManiac.Plugins.Powershell/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.Powershell/obj/Debug/KeyboardManiac.Plugins.Powershell.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.Powershell/obj/Debug/KeyboardManiac.Plugins.Powershell.dll
/KeyboardManiac.Plugins.Powershell/obj/Debug/KeyboardManiac.Plugins.Powershell.pdb
/KeyboardManiac.Plugins.Powershell/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.Powershell/obj/Release/KeyboardManiac.Plugins.Powershell.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.Powershell/obj/Release/KeyboardManiac.Plugins.Powershell.dll
/KeyboardManiac.Plugins.Powershell/obj/Release/KeyboardManiac.Plugins.Powershell.pdb
/KeyboardManiac.Plugins.Powershell/obj/Release/ResolveAssemblyReference.cache
/KeyboardManiac.Plugins.ShellExecute/bin/Debug/KeyboardManiac.Plugins.ShellExecute.dll
/KeyboardManiac.Plugins.ShellExecute/bin/Debug/KeyboardManiac.Plugins.ShellExecute.pdb
/KeyboardManiac.Plugins.ShellExecute/bin/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.ShellExecute/bin/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.ShellExecute/bin/Debug/log4net.dll
/KeyboardManiac.Plugins.ShellExecute/bin/Debug/log4net.xml
/KeyboardManiac.Plugins.ShellExecute/bin/Release/KeyboardManiac.Plugins.ShellExecute.dll
/KeyboardManiac.Plugins.ShellExecute/bin/Release/KeyboardManiac.Plugins.ShellExecute.pdb
/KeyboardManiac.Plugins.ShellExecute/bin/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.ShellExecute/bin/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.ShellExecute/bin/Release/log4net.dll
/KeyboardManiac.Plugins.ShellExecute/bin/Release/log4net.xml
/KeyboardManiac.Plugins.ShellExecute/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.ShellExecute/obj/Debug/KeyboardManiac.Plugins.ShellExecute.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.ShellExecute/obj/Debug/KeyboardManiac.Plugins.ShellExecute.dll
/KeyboardManiac.Plugins.ShellExecute/obj/Debug/KeyboardManiac.Plugins.ShellExecute.pdb
/KeyboardManiac.Plugins.ShellExecute/obj/Debug/ResolveAssemblyReference.cache
/KeyboardManiac.Plugins.ShellExecute/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.ShellExecute/obj/Release/KeyboardManiac.Plugins.ShellExecute.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.ShellExecute/obj/Release/KeyboardManiac.Plugins.ShellExecute.dll
/KeyboardManiac.Plugins.ShellExecute/obj/Release/KeyboardManiac.Plugins.ShellExecute.pdb
/KeyboardManiac.Plugins.ShellExecute/obj/Release/ResolveAssemblyReference.cache
/KeyboardManiac.Plugins.TaskSwitcher/bin/Debug/KeyboardManiac.Plugins.TaskSwitcher.dll
/KeyboardManiac.Plugins.TaskSwitcher/bin/Debug/KeyboardManiac.Plugins.TaskSwitcher.pdb
/KeyboardManiac.Plugins.TaskSwitcher/bin/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.TaskSwitcher/bin/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.TaskSwitcher/bin/Debug/log4net.dll
/KeyboardManiac.Plugins.TaskSwitcher/bin/Debug/log4net.xml
/KeyboardManiac.Plugins.TaskSwitcher/bin/Release/KeyboardManiac.Plugins.TaskSwitcher.dll
/KeyboardManiac.Plugins.TaskSwitcher/bin/Release/KeyboardManiac.Plugins.TaskSwitcher.pdb
/KeyboardManiac.Plugins.TaskSwitcher/bin/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Plugins.TaskSwitcher/bin/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Plugins.TaskSwitcher/bin/Release/log4net.dll
/KeyboardManiac.Plugins.TaskSwitcher/bin/Release/log4net.xml
/KeyboardManiac.Plugins.TaskSwitcher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.TaskSwitcher/obj/Debug/KeyboardManiac.Plugins.TaskSwitcher.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.TaskSwitcher/obj/Debug/KeyboardManiac.Plugins.TaskSwitcher.dll
/KeyboardManiac.Plugins.TaskSwitcher/obj/Debug/KeyboardManiac.Plugins.TaskSwitcher.pdb
/KeyboardManiac.Plugins.TaskSwitcher/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Plugins.TaskSwitcher/obj/Release/KeyboardManiac.Plugins.TaskSwitcher.csproj.FileListAbsolute.txt
/KeyboardManiac.Plugins.TaskSwitcher/obj/Release/KeyboardManiac.Plugins.TaskSwitcher.dll
/KeyboardManiac.Plugins.TaskSwitcher/obj/Release/KeyboardManiac.Plugins.TaskSwitcher.pdb
/KeyboardManiac.Sdk/bin/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Sdk/bin/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Sdk/bin/Debug/log4net.dll
/KeyboardManiac.Sdk/bin/Debug/log4net.xml
/KeyboardManiac.Sdk/bin/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Sdk/bin/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Sdk/bin/Release/log4net.dll
/KeyboardManiac.Sdk/bin/Release/log4net.xml
/KeyboardManiac.Sdk/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Sdk/obj/Debug/KeyboardManiac.Sdk.csproj.FileListAbsolute.txt
/KeyboardManiac.Sdk/obj/Debug/KeyboardManiac.Sdk.dll
/KeyboardManiac.Sdk/obj/Debug/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Sdk/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KeyboardManiac.Sdk/obj/Release/KeyboardManiac.Sdk.csproj.FileListAbsolute.txt
/KeyboardManiac.Sdk/obj/Release/KeyboardManiac.Sdk.dll
/KeyboardManiac.Sdk/obj/Release/KeyboardManiac.Sdk.pdb
/KeyboardManiac.Sdk/obj/Release/ResolveAssemblyReference.cache
/KeyboardManiac.Core/obj/Release/ResolveAssemblyReference.cache
/KeyboardManiac.Gui/obj/x86/Release/build.force
/KeyboardManiac.Plugins.FileSystemSearch/obj/Release/build.force
/KeyboardManiac.Plugins.Powershell/obj/Release/build.force
/KeyboardManiac.Plugins.ShellExecute/obj/Release/build.force
/KeyboardManiac.Plugins.TaskSwitcher/obj/Release/build.force
/KeyboardManiac.suo
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.log
/KeyboardManiac.Core/obj/Debug/ResolveAssemblyReference.cache
/KeyboardManiac.Sdk/obj/Debug/KeyboardManiac.Sdk.csprojResolveAssemblyReference.cache
/KeyboardManiac.Sdk/obj/Release/KeyboardManiac.Sdk.csprojResolveAssemblyReference.cache
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Gui.vshost.exe.config
/_ReSharper.KeyboardManiac/BuildScriptCache/.crc
/_ReSharper.KeyboardManiac/NamedArguments/.crc
/_ReSharper.KeyboardManiac/Resources/.crc
/_ReSharper.KeyboardManiac/TagPrefixes/.crc
/_ReSharper.KeyboardManiac/TodoCache/.crc
/_ReSharper.KeyboardManiac/WebsiteFileReferences/.crc
/_ReSharper.KeyboardManiac/WordIndex/.crc
/_ReSharper.KeyboardManiac/BuildScriptCache/2/6ec7dda4.dat
/_ReSharper.KeyboardManiac/NamedArguments/2/6ec7dda4.dat
/_ReSharper.KeyboardManiac/ProjectModel/ProjectModel.dat
/_ReSharper.KeyboardManiac/Resources/0/6045af25.dat
/_ReSharper.KeyboardManiac/TodoCache/2/6ec7dda4.dat
/_ReSharper.KeyboardManiac/WordIndex/2/265dc59.dat
/_ReSharper.KeyboardManiac/WordIndex/2/6ec7dda4.dat
/_ReSharper.KeyboardManiac/BuildScriptCache/.version
/_ReSharper.KeyboardManiac/NamedArguments/.version
/_ReSharper.KeyboardManiac/Resources/.version
/_ReSharper.KeyboardManiac/SymbolCache.bin
/_ReSharper.KeyboardManiac/TagPrefixes/.version
/_ReSharper.KeyboardManiac/TodoCache/.version
/_ReSharper.KeyboardManiac/WebsiteFileReferences/.version
/_ReSharper.KeyboardManiac/WordIndex/.version
/KeyboardManiac.5.1.ReSharper.user
/KeyboardManiac.Core/obj/Debug/build.force
/KeyboardManiac.Core/obj/Release/build.force
/KeyboardManiac.Core/obj/Release/KeyboardManiac.Core.csprojResolveAssemblyReference.cache
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Gui.vshost.exe
/KeyboardManiac.Gui/bin/Release/KeyboardManiac.Gui.vshost.exe.manifest
/KeyboardManiac.Gui/obj/x86/Debug/build.force
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.csproj.GenerateResource.Cache
/KeyboardManiac.Gui/obj/x86/Debug/KeyboardManiac.Gui.csprojResolveAssemblyReference.cache
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.csproj.GenerateResource.Cache
/KeyboardManiac.Gui/obj/x86/Release/KeyboardManiac.Gui.csprojResolveAssemblyReference.cache
/KeyboardManiac.Plugins.FileSystemSearch/obj/Debug/KeyboardManiac.Plugins.FileSystemSearch.csprojResolveAssemblyReference.cache
/KeyboardManiac.Plugins.FileSystemSearch/obj/Release/KeyboardManiac.Plugins.FileSystemSearch.csprojResolveAssemblyReference.cache
/KeyboardManiac.Plugins.Powershell/obj/Debug/KeyboardManiac.Plugins.Powershell.csprojResolveAssemblyReference.cache
/KeyboardManiac.Plugins.Powershell/obj/Release/KeyboardManiac.Plugins.Powershell.csprojResolveAssemblyReference.cache
/KeyboardManiac.Plugins.ShellExecute/obj/Debug/KeyboardManiac.Plugins.ShellExecute.csprojResolveAssemblyReference.cache
/KeyboardManiac.Plugins.ShellExecute/obj/Release/KeyboardManiac.Plugins.ShellExecute.csprojResolveAssemblyReference.cache
/KeyboardManiac.Plugins.TaskSwitcher/obj/Release/KeyboardManiac.Plugins.TaskSwitcher.csprojResolveAssemblyReference.cache
/KeyboardManiac.sln.DotSettings.user
/KeyboardManiac.Core/bin/Debug/Config/KeyboardManiac.log4net.xml
/KeyboardManiac.Core/bin/Debug/Config/KeyboardManiac.settings.xml
/KeyboardManiac.Core/bin/Debug/Gallio.dll
/KeyboardManiac.Core/bin/Debug/Gallio.pdb
/KeyboardManiac.Core/bin/Debug/Gallio.xml
/KeyboardManiac.Core/bin/Debug/Gallio.XmlSerializers.dll
/KeyboardManiac.Core/bin/Debug/MbUnit.dll
/KeyboardManiac.Core/bin/Debug/MbUnit.pdb
/KeyboardManiac.Core/bin/Debug/MbUnit.xml
/KeyboardManiac.Core/obj/Debug/KeyboardManiac.Core.csprojResolveAssemblyReference.cache
/KeyboardManiac.Gui/bin/Debug/Config/KeyboardManiac.log4net.xml
/KeyboardManiac.Gui/bin/Debug/Config/KeyboardManiac.settings.xml
/KeyboardManiac.Gui/bin/Debug/KeyboardManiac.Gui.vshost.exe.manifest
/KeyboardManiac.v11.suo
/KeyboardManiac.Gui/KeyboardManiac.Gui.csproj.user
/KeyboardManiac.Plugins.TaskSwitcher/obj/Debug/KeyboardManiac.Plugins.TaskSwitcher.csprojResolveAssemblyReference.cache
/KeyboardManiac.Sdk/obj/Debug/KeyboardManiac.Plugins.ShellExecute.csprojResolveAssemblyReference.cache

/.vs/KeyboardManiac/v14/.suo
